.msg_wrap {
	position: fixed;
	text-align: left;
	left: 50%;
	top: 50%;
	width: 440px;
	padding: 0 10px 0 10px;
	height: 52px;
	line-height: 52px;
	margin-left: -220px;
	margin-top: -26px;
	background-color: #f9f9f9;
	-webkit-box-shadow:2px 2px 4px #333333;
	border-radius: 6px;
	z-index: 9999;
	border: 1px solid #CCCCCC;
	-webkit-animation-duration: 1.6s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-name: msg_anim;
}
@-webkit-keyframes msg_anim {
    0% { opacity: 1; -webkit-transform: translateY(0);}
    12% { opacity: 1; -webkit-transform: translateY(-30px);}
    92% { opacity: 1; -webkit-transform: translateY(-30px);}
    100% { opacity: 0; -webkit-transform: translateY(-65px); }
}

.mask {
position: absolute;
width: 100%;
height: 100%;
/*background: rgba(0, 0, 0, 0.2);*/
}
#loading_page {
position: fixed;
width: 100%;
height: 100%;
left:0;
top:0;
z-index:9999;
overflow: hidden;
color: #FFFFFF;
}
#loading_page .mask.init {
background: rgba(0, 0, 0, 1);
}
#loading_page p {
width: 48px;
height: 48px;
position: absolute;
left: 50%;
top: 50%;
margin-left: -24px;
margin-top: -24px;
background-image: url(../img/loading.png);
-webkit-animation-name:loading_anim;
-webkit-animation-duration:1.2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
}
@-webkit-keyframes loading_anim {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}

.nav .dropdown a{
color: black;
font-weight:bold;
}

/* 导航条和内容区的间隔*/
.topcenter_s{
padding:28px;
}

/* 右边地址栏*/
.crumb{
padding:10px;
font-weight: bold;
}
/* 右边地址栏 链接文字 */
.breadcrumb > li > a{
color: black;
}
/* 右边地址栏 分隔符*/
.divider{
color: black;
}

.action-btn {
text-align:center;
border: 1px solid #CCCCCC;
box-shadow: 1px 1px 3px #BEBEBE;
padding:10px;
margin-bottom: 15px;
background-color: rgba(0, 0, 0, 0.13);
}

.action-btn strong{
color: #3F3F3F;
}
.nav > li > a:hover {
text-decoration: none;
background-color: #0081C2;
color:white;
}

/* 单元框*/
.box{
display: block;
width: 100%;
min-height: 100%;
}

.navbar .brand i{
margin-top: 5px;
}

#diy_siderbar {
display: none;
}
#container.nosiderbar {
margin-left: 0;
}
#execsql_page #sqlContent {
min-width: 600px;
}
#container .searchwrap {
//text-align: right;
margin-bottom: 4px;
}
#container .searchwrap .form-inline {
margin: 0;
}
#container .pageheader_bar {
width: 100%;
min-height: 36px;
overflow: hidden;
}
#container .pageheader_bar .btn-toolbar {
margin-top: 0;
margin-bottom: 6px;
}
#channellist .btn {
margin: 2px;
}
#channellist .btn-info {
width:175px;
height:30px;
}
#summary_page #summary_table {
max-width: 1900px;
}
#message_page .alert{
margin-bottom: 4px;
}
#message_page #messagecontent,#newmessage_page #messagecontent{
font-weight: bold;
word-break: break-all;
}
#message_page #nowservername,#newmessage_page #newMessageNumber{
color: #FF5500;
}
#message_page #replaycontent,#newmessage_page #replaycontent{
width: 620px;
}
#message_page #quickreplay li,#newmessage_page #quickreplay li {
padding: 4px 4px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
margin: 1px 0;
height: 20px;
width: 620px;
white-space: nowrap;
overflow: hidden;
cursor: pointer;
}
#home_page .row-fluid .first {
margin-left: 0;
}
#setting_page,#addServer_page {
display:none;
}
#refresh_fdb_num,#sendAllMessage {
float:left;
}
#androidver_page td, #message_page td, #newmessage_page td{
word-break: break-all;
}
#androidver_page #myModal,#giveresource_page #myModal {
width: 500px;
margin-left: -250px;
}
#androidver_page #myModal #inputContent{
width: 365px;
height: 80px;
}
.btn-servername {
width:128px;
margin:2px 2px;
}
#activity_page #activity_info{
width:55%;
position: absolute;
right:27%;
z-index: 1;
}
#activity_page #activity_set{
width: 31%;
right: 0;
position: absolute;
}
#userinfo_page #myModal,#viptop_page #myModal{
width: 450px;
top: 50%;
margin-top: -150px;
margin-left: -225px;
}
#message_page #quickreplay, #newmessage_page #quickreplay {
height: 310px;
overflow-y: auto;
overflow-x: hidden;
}
#message_page .modal-body,#newmessage_page .modal-body{
max-height: 450px;
}
.filedrag_container {
color: #555;
border: 2px dashed #555;
border-radius: 7px;
width: 100%;
height: 60px;
text-align: center;
cursor: default;
}
.filedrag_container.dragover {
border-left: 2px dashed red;
border-right: 2px dashed red;
border-top: 0px;
border-bottom: 0px;
}
.clientlist_smalltext {
width: 100px;
}
.iosversion_step_header {
font-style: italic;
text-align: right;
border-bottom: 1px dashed #cccccc;
margin-bottom: 10px;
color: #bebebe;
}
.iosversion_step_footer {
text-align: center;
}
.versionlist_tr.publish .versiondir {
color: green;
}
#banword_page .td-first{
width: 100px;
}
.overflowhidden {
height:20px;
overflow:hidden;
}
.btn-channel {
height: 30px;
width: 200px;
margin: 2px 2px;
}
#viptop_num{
float: left;
height: 30px;
line-height: 30px;
padding-left: 10px;
}
#newmessage_page .searchwrap {
text-align: left;
}
#dchannel_table th.min {
width:30px;
}
#dchannel_table th.max {
width:70px;
}
.first_row {
color: blue;
}
#getfaq_page #tbody_faq .move_up, #getfaq_page #tbody_faq .move_down {
padding: 0 5px;
}
#getfaq_page .searchwrap #inputStatus{
margin-bottom:0px;
}
#myModal .modal-lable {
position: absolute;
width: 137px;
height: 100%;
background: #fff;
left: -133px;
top: 0px;
border-radius: 5px 0 0 5px;
border-right: 1px solid #eee;
}
#myModal .modal-lable .lable_text {
width: 100%;
text-align: center;
margin-top: 48px;
height: 100px;
}
#myModal .modal-lable  #label {
width: 93%;
padding: 5px;
}
#myModal .modal-lable  #label .label-info{
margin: 4px 0px;
width: 53px;
font-size: 13px;
text-align: center;
cursor: pointer;
position:relative;
}
#myModal .modal-lable  .label_edit {
width: 100%;
text-align: center;
position: absolute;
bottom: -1px;
border-top: 1px solid #ddd;
padding: 15px 0px;
}
#myModal .modal-lable  #label .label-info i{
position: absolute;
right: 0px;
top: 0px;
background: #000;
width: 20px;
height: 18px;
border-radius: 0 3px 3px 0;
display:none;
}
#clientlistModal {
width:820px;
margin-left: -410px;
}
.filelist_wrap {
	border-bottom: dashed #BEBEBE 1px;
}
.filelist_wrap.less {
	height: 20px;
	overflow: hidden;
}
.filelist_wrap.more {
	height: auto;
}
#maskword_text .btn {
	margin-left:10px;
	margin-bottom:5px;
}
#maskword_text .btn .del_mask {
	margin-right:20px;
}
.setting {
	cursor:pointer;
}
#calendarPanel select {
	width:75px;
}
#add_server {
	float:right;font-weight:800;color:#c40;font-size:16px;
}
#resource_page input,select {
	width:110px;margin-right:20px;
}
#giveresource_page .res_num {
	display:block;
}
#giveresource_page .res_num select,#giveresource_page input {
	width:100px;
}
#giveresource_page #condition select {
	font-size:24px;
}
#errorinfo_page textarea {
	position:absolute;background:#eee;border:2px #000;border-radius:5px;padding:5px;overflow:auto;
}
#adminaction_page span {
	font-size:20px;margin-left:20px;
}

#notice_page ul.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#notice_page #channel span{
	margin-right: 12px;
	margin-bottom: 5px;
	display: block;
	float: left;
	line-height: 20px;
}
#notice_page #channel span input {
	margin: 0px;
	margin-right: 5px;
}

#editnotice_page ul.list {
	margin: 0;
	padding: 0;
	list-style: none;
}
#orderinfo {
	overflow:auto;
	min-width:1250px;
	margin:0;
	padding:0;
	margin-top:30px;
}
#orderinfo li span {
	min-width: 55px;
	float: left;
}
#orderinfo li .orderid {
	width:226px;
}
#orderinfo li .type {
	width:68px;
}
#orderinfo li .userid {
	width:67px;
}
#orderinfo li .nickname {
	width:80px;
}
#orderinfo li .paytype {
	width:71px;
}
#orderinfo li .amount {
	width:67px;
}
#orderinfo li .paytime {
	width:153px;
}	
#orderinfo li .confirmtimes {
	width:72px;
}
#orderinfo li .confirmdate {
	width:153px;
}
#orderinfo li .status {
	width:71px;
}
#orderinfo li .overdate {
	width:153px;
}
#orderinfo li .option {
	width:122px;
}
#orderinfo li .uploadarea {
	width: 120px;
	color: rgb(151, 150, 129);
	height: 39px;
	text-align: center;
}
#orderinfo li {
	border-top:1px dashed;
	list-style:none;
	height:40px;
	overflow:auto;
	line-height:40px;
}
.searchwrap {
	overflow:auto;
	min-width:1250px;
}
#editnotice_page #channel span{
	margin-right: 12px;
	margin-top: 5px;
	display: block;
	float: left;
	line-height: 20px;
}
#editnotice_page #channel span input {
	margin: 0px;
	margin-right: 5px;
}
#onlinenumber_page button {
	margin-top:-10px;
	margin-left:20px;
}
#onlinenumber_page input {
	margin-right:40px;
}
#rechargescale_page button {
	margin-top:-10px;
	margin-left:20px;
}
#rechargetype_page button {
	margin-top:-10px;
	margin-left:20px;
}
.well .input {
	width:140px;margin-right:10px
}
#banaccount_page .well #conditions {
	width:830px;
}