*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE intellij忽略
foundation-game-gateway.iml
/.idea
/*/.idea
/*/*/.idea
/*/*/*/.idea
/*/*/*/*/.idea

# IDE eclipse忽略
/.myeclipse
/.settings
.classpath
.mymetadata
.project

/target